@model IEnumerable<BookWEB.Models.DTO.BookDTO>
<html>
<head>
    <link src="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/section.css" rel="stylesheet" />
</head>
<body>
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <h1 class="text-primary">All Books</h1>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @foreach (var item in Model)
                {
                    <div class="col mt-7">
                        <div class="card bg-white custom-card" style="width:18rem; ">
                            <img src="@item.CoverImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-dark text-center">@item.Name</h5>
                                <p class="lead card-text text-dark text-center pt-5">Language : @item.Language</p>
                                <p class="lead card-text text-dark text-center">PageCount : @item.PageCount</p>
                                <p class="lead card-text text-primary text-center">@item.PublisherName</p>
                                <span class=" lead  text-center text-danger fw-bold">Price: $@item.Price.ToString()</span>
                                <a href="#" class="btn btn-primary" onclick="addToCart(@item.Id)">Add Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function addToCart(bookId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: JSON.stringify(bookId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log("Response:", response);
                    if (response.success) {
                        let cartCount = parseInt($("#cartCount").text());
                        $("#cartCount").text(cartCount + 1);


                        window.location.reload();  // Sayfa yenileme
                        // window.location.href = '@Url.Action("IndexCart", "Cart")';
                    } else {
                        console.error("Add to cart failed:", response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Add to cart error:", xhr.responseText);
                }
            });
        }
    </script>


</body>
</html>